In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('microdados_enade_2008.csv', sep=";")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461776 entries, 0 to 461775
Columns: 198 entries, nu_ano to QE_I115
dtypes: float64(27), int64(41), object(130)
memory usage: 697.6+ MB

In [3]:
data.head()

,nu_ano,co_ies,cd_catad,cd_orgac,co_grupo,co_subarea,co_regiao_habil,co_uf_habil,co_munic_habil,co_curso,...,QE_I106,QE_I107,QE_I108,QE_I109,QE_I110,QE_I111,QE_I112,QE_I113,QE_I114,QE_I115
0,2008,1,1,1,7,NaN,5,51,5103403,26,...,.,.,.,.,.,.,.,.,.,.
1,2008,1,1,1,7,NaN,5,51,5103403,26,...,.,.,.,.,.,.,.,.,.,.
2,2008,1,1,1,7,NaN,5,51,5103403,26,...,C,C,C,C,C,A,A,E,A,B
3,2008,1,1,1,7,NaN,5,51,5103403,26,...,.,.,.,.,.,.,.,.,.,.
4,2008,1,1,1,7,NaN,5,51,5103403,26,...,.,.,.,.,.,.,.,.,.,.

In [4]:
print("Original_2008: ",len(data))

data = data[(data["co_grupo"] == 40) & (data["tp_pres"] == 555) & (data["co_subarea"] == 4001)].copy() # Universidade

print("Filtrados: ",len(data))

Original_2008:  461776
Filtrados:  14726

In [5]:
data["cd_catad"] = data["cd_catad"].replace({1: 'Pub',\
                                                 2: 'Pub',\
                                                 3: 'Pub',\
                                                 5: 'Pri'}).copy()

data["co_regiao_habil"] = data["co_regiao_habil"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [6]:
print ("2008_Tamanho: ", data.groupby("co_regiao_habil").size().sum())
data.groupby(["co_regiao_habil","cd_catad"]).size()

2008_Tamanho:  14726

co_regiao_habil  cd_catad
Centro-Oeste     Pri          804
                 Pub          642
Nordeste         Pri          942
                 Pub         1119
Norte            Pri          337
                 Pub          228
Sudeste          Pri         6108
                 Pub         1779
Sul              Pri         1602
                 Pub         1165
dtype: int64

In [7]:
print ("2008_Tamanho: ", data.groupby("co_regiao_habil").size().sum())

print ("#Grupo::: Ing: {} - Conc: {}".format(data.groupby("in_grad").size().to_list()[1],\
                                   data.groupby("in_grad").size().to_list()[0]))

print ("#Sexo::: M: {} - F:{}".format(data.groupby("tp_sexo").size().to_list()[0],\
                                  data.groupby("tp_sexo").size().to_list()[1]))

2008_Tamanho:  14726
#Grupo::: Ing: 8292 - Conc: 6434
#Sexo::: M: 12634 - F:2092