In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('MICRODADOS_ENADE_2014.txt', sep=";")
data.info()

/Users/joaooliveira/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481720 entries, 0 to 481719
Columns: 154 entries, NU_ANO to QE_I81
dtypes: float64(60), int64(36), object(58)
memory usage: 566.0+ MB

In [3]:
data.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2014,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("2014_Original: ",len(data))

#  & (data["CO_ORGACAD"] == 10028)
data = data[(data["CO_GRUPO"] == 4004) & (data["TP_PRES"] == 555)] # Universidade

print("Filtrados: ",len(data))

2014_Original:  481720
Filtrados:  8278

In [5]:
data["CO_CATEGAD"] = data["CO_CATEGAD"].replace({93: 'Pub',\
                                                 116: 'Pub',\
                                                 10001: 'Pub',\
                                                 10002: 'Pub',\
                                                 10003: 'Pub',\
                                                 118: 'Pri',\
                                                 121: 'Pri',\
                                                 10004: 'Pri',\
                                                 10005: 'Pri',\
                                                 10006: 'Pri',\
                                                 10007: 'Pri',\
                                                 10008: 'Pri',\
                                                 10009: 'Pri'}).copy()

data["CO_REGIAO_CURSO"] = data["CO_REGIAO_CURSO"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [6]:
print ("2014 Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())
data.groupby(["CO_REGIAO_CURSO","CO_CATEGAD"]).size()

2014 Tamanho:  8278

CO_REGIAO_CURSO  CO_CATEGAD
Centro-Oeste     Pri            288
                 Pub            218
Nordeste         Pri            671
                 Pub            869
Norte            Pri            197
                 Pub            183
Sudeste          Pri           2957
                 Pub           1247
Sul              Pri            993
                 Pub            655
dtype: int64

In [8]:
print ("2014_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())

print ("#Sexo::: M: {} - F:{}".format(data.groupby("TP_SEXO").size().to_list()[1],\
                                  data.groupby("TP_SEXO").size().to_list()[0]))

2014_Tamanho:  8278
#Sexo::: M: 7203 - F:1074