In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('MICRODADOS_ENADE_2017.txt', sep=";")
data.info()

/Users/joaooliveira/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,31,32,44,45,46,47,54,55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537436 entries, 0 to 537435
Columns: 150 entries, NU_ANO to QE_I81
dtypes: float64(67), int64(21), object(62)
memory usage: 615.0+ MB

In [10]:
data.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print("Original: 2017",len(data))

data = data[(data["CO_GRUPO"] == 4004) & # Ciência Da Computação Bacharelado
            (data["TP_PRES"] == 555)].copy()

print("Filtrados: ",len(data))

Original: 2017 537436
Filtrados:  8491

In [12]:
data["CO_CATEGAD"] = data["CO_CATEGAD"].replace({1: 'Pub',\
                                                 2: 'Pub',\
                                                 3: 'Pub',\
                                                 4: 'Pri',\
                                                 5: 'Pri',\
                                                 7: 'Pri'}).copy()

data["CO_REGIAO_CURSO"] = data["CO_REGIAO_CURSO"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [13]:
print ("2017_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())
data.groupby(["CO_REGIAO_CURSO","CO_CATEGAD"]).size()

2017_Tamanho:  8491

CO_REGIAO_CURSO  CO_CATEGAD
Centro-Oeste     Pri            326
                 Pub            295
Nordeste         Pri            612
                 Pub           1030
Norte            Pri            223
                 Pub            192
Sudeste          Pri           2663
                 Pub           1555
Sul              Pri            816
                 Pub            779
dtype: int64

In [14]:
print ("2017_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())

print ("#Sexo::: M: {} - F:{}".format(data.groupby("TP_SEXO").size().to_list()[1],\
                                  data.groupby("TP_SEXO").size().to_list()[0]))

2017_Tamanho:  8491
#Sexo::: M: 7468 - F:1023