In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('microdados_enade_2005.csv', encoding="cp1252", sep=";")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323338 entries, 0 to 323337
Columns: 210 entries, nu_ano to QE_I110
dtypes: float64(54), int64(29), object(127)
memory usage: 518.0+ MB

In [3]:
data.head()

,nu_ano,co_ies,cd_catad,cd_orgac,co_grupo,co_regiao_habil,co_uf_habil,co_munic_habil,co_curso,nu_idade,...,QE_I101,QE_I102,QE_I103,QE_I104,QE_I105,QE_I106,QE_I107,QE_I108,QE_I109,QE_I110
0,2005,1,1,1,7,5,51,665,18354,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,1,1,1,7,5,51,665,18354,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,1,1,1,7,5,51,665,18354,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,1,1,1,7,5,51,665,18354,28,...,B,C,B,D,F,C,A,A,B,C
4,2005,1,1,1,7,5,51,665,18354,28,...,C,C,E,D,D,C,B,.,B,B

In [4]:
#co_grupo - Computacao - 40
#tp_press - estudante participante - 555

print("Original_2005: ",len(data))
data = data[(data["co_grupo"] == 40) & (data["tp_pres"] == 555)] # Universidade\\
data.dropna(subset=['vt_ace_oce'], inplace=True)
data.reset_index(drop=True, inplace=True)
print("Filtrados: ",len(data))

Original_2005:  323338
Filtrados:  32056

In [5]:

lista = ['.111222333']
if any("9" in s or "7" in s or "8" in s for s in lista):
    print (True)
    
# if ("0" in lista) or ("1" in lista) or ("9" in lista) or ("8" in lista):
#     print (True)

In [6]:
# Separa somente os estudantes de bacharelado em ciencia da computacao
listIndex = []
guardaIndex = []

for rows in data.itertuples():
    tempVec = []
    tempVec.append(rows.vt_ace_oce[43:56])

    if any("0" in numb or "1" in numb or "8" in numb or "9" in numb for numb in tempVec):
        guardaIndex.append(rows.Index)

data = data.iloc[guardaIndex]

In [7]:
data["cd_catad"] = data["cd_catad"].replace({1: 'Pub',\
                                                 2: 'Pub',\
                                                 3: 'Pub',\
                                                 4: 'Pri'}).copy()

data["co_regiao_habil"] = data["co_regiao_habil"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [8]:
print ("2005_Tamanho: ", data.groupby("co_regiao_habil").size().sum())
print ("#Grupo::: Ing: {} - Conc: {}".format(data.groupby("in_grad").size().to_list()[1],\
                                   data.groupby("in_grad").size().to_list()[0]))
print ("#Sexo::: M: {} - F:{}".format(data.groupby("tp_sexo").size().to_list()[0],\
                                  data.groupby("tp_sexo").size().to_list()[1]))
print ("MÃ©dia:::", round(data["nt_obj_ce"].mean(),2))
print ("Devio p:::", round(data["nt_obj_ce"].std(),2))

2005_Tamanho:  13954
#Grupo::: Ing: 7220 - Conc: 6734
#Sexo::: M: 11658 - F:2296
MÃ©dia::: 26.83
Devio p::: 14.46

In [11]:
data.groupby(["in_grad"])

1    7220
0    6734
Name: in_grad, dtype: int64