In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('MICRODADOS_ENADE_2011.txt', sep=";")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376180 entries, 0 to 376179
Columns: 115 entries, NU_ANO to QE_I54
dtypes: float64(15), int64(32), object(68)
memory usage: 330.1+ MB

In [3]:
data.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I45,QE_I46,QE_I47,QE_I48,QE_I49,QE_I50,QE_I51,QE_I52,QE_I53,QE_I54
0,2011,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,10002,10028,5710,3,1,5103403,51,5,...,E,A,A,A,C,A,D,C,C,E
3,2011,1,10002,10028,5710,3,1,5103403,51,5,...,D,D,D,E,C,B,A,A,B,B
4,2011,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("Original_2014: ",len(data))

data = data[(data["CO_GRUPO"] == 4004) & # Ciência Da Computação (Bacharelado)
            (data["TP_PRES"] == 555)].copy()

print("Filtrados: ",len(data))

Original_2014:  376180
Filtrados:  9845

In [5]:
data["CO_CATEGAD"] = data["CO_CATEGAD"].replace({10001: 'Pub',\
                                                 10002: 'Pub',\
                                                 10003: 'Pub',\
                                                 10004: 'Pri',\
                                                 10005: 'Pri',\
                                                 10006: 'Pri',\
                                                 10007: 'Pri',\
                                                 10008: 'Pri',\
                                                 10009: 'Pri',}).copy()

data["CO_REGIAO_CURSO"] = data["CO_REGIAO_CURSO"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [6]:
print ("2011_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())
data.groupby(["CO_REGIAO_CURSO","CO_CATEGAD"]).size()

2011_Tamanho:  9845

CO_REGIAO_CURSO  CO_CATEGAD
Centro-Oeste     Pri            415
                 Pub            284
Nordeste         Pri            750
                 Pub            772
Norte            Pri            277
                 Pub            215
Sudeste          Pri           4160
                 Pub           1349
Sul              Pri           1080
                 Pub            543
dtype: int64

In [9]:
print ("2011_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())

print ("#Sexo::: M: {} - F:{}".format(data.groupby("TP_SEXO").size().to_list()[1],\
                                  data.groupby("TP_SEXO").size().to_list()[0]))
print ("Média:::", round(data["NT_OBJ_CE"].mean(),2))
print ("Devio p:::", round(data["NT_OBJ_CE"].std(),2))

2011_Tamanho:  9845
#Sexo::: M: 8496 - F:1348
Média::: 30.79
Devio p::: 15.42